{% extends 'partials/base.html.twig' %}

{% block content %}
<div class="container internal">
    <div class="row">
        {% set attributes = parse_attributes(left.object.attributes) %}
        <div {% include 'partials/_attributes.html.twig' %}>
        {{ left.object.content }}
        </div>
        {% set attributes = parse_attributes(main.object.attributes) %}
        <div {% include 'partials/_attributes.html.twig' %}>
        {{ main.object.content }}
        </div>
        {% set attributes = parse_attributes(right.object.attributes) %}
        <div {% include 'partials/_attributes.html.twig' %}>
        {{ right.object.content }}
        </div>
    </div>
</div>
{% endblock %}
